.hero-section{
    padding-right: 0;
    padding-bottom: 16rem;
}

.hero-section .container > img{
    display: block;
    max-width: 100%;
    margin: 1.25rem 0 0 auto;
}

.hero-section .container .marketing > img {
    position: relative;

}

.hero-section .main-button{
 position: relative;
}

.hero-section .main-button::after{
    content: '';
    background: url(../../Assets/images/arrow-curve.svg);
    position:absolute;
    right: -4rem;
    width: 132px;
    height: 48px;
    top: 5rem;

}

.hero-section .decoration{
    display: block;
    position: relative;
}

.hero-section .decoration::after{
    content: '';
    position: absolute;
    background: url(../../Assets/images/three-dashes.svg);
    width: 40px;
    height: 35px;
    bottom: 2rem;
}

@media screen and (min-width:72rem) {
    .hero-section .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

}